{lib_dirs,["/usr/local/lib/elixir/lib",
           "/home/ubuntu/workspace/microflow/_build/dev"]}.

{release,{microflow,"0.0.1"},[{microflow,"0.0.1"},elixir,iex,sasl]}.

{include_erts,true}.

{include_src,false}.

{extended_start_script,true}.

{generate_start_script,false}.

{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot","bin/microflow"},
          {copy,"/home/ubuntu/workspace/microflow/_build/dev/consolidated",
                "lib/consolidated"}]}.

